<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="navigation">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/">Cashback</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Home</a>
      <a class="nav-item nav-link" href="/coupon">Coupons</a>
      <a class="nav-item nav-link" href="/">Cashback</a>
      <a class="nav-item nav-link" href="/">Account</a>
    </div>
  </div>
  <form sec:authorize="isAnonymous()" class="form-inline my-2 my-lg-0" action="customers/new">
      <button type="submit" class="btn btn-primary">Registrieren</button>
  </form>
  <form sec:authorize="isAnonymous()" class="form-inline my-2 my-lg-0" action="customers/login">
      <button type="submit" class="btn btn-success">Login</button>
  </form>
  <form sec:authorize="isAuthenticated()" class="form-inline my-2 my-lg-0" action="customers/logout">
      <button type="submit" class="btn btn-danger">Logout</button>
  </form>
</nav>
</div>
</html>