<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Registrierung</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <h1>Super, dass Sie Kunde werden wollen</h1>
    <h3>Registrierung</h3>
    
    <!-- Button trigger modal -->
	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalScrollable">
  		Launch demo modal
	</button>

	<!-- Modal -->
		<div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  			<div class="modal-dialog modal-dialog-scrollable" role="document">
    			<div class="modal-content">
      				<div class="modal-header">
        				<h5 class="modal-title" id="exampleModalScrollableTitle">Modal title</h5>
        				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          				<span aria-hidden="true">&times;</span>
        				</button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
    
    
    
    
    
    <form method="post" action="/register">
  		<div class="form-group">
    		<label for="email">Vorname</label>
    		<input type="text" class="form-control" id="email" placeholder="Email eingeben">
  		</div>
  		<div class="form-group">
    		<label for="telephone">Vorname</label>
    		<input type="text" class="form-control" id="telephone" placeholder="Telefonnummer eingeben">
  		</div>
  		<div class="form-group">
    		<label for="email">Vorname</label>
    		<input type="text" class="form-control" id="email" placeholder="Email eingeben">
  		</div>
  		<button type="submit" class="btn btn-primary">Registrieren</button>
	</form>

</body>
</html>